<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Transfer Wise - App</title>
    <meta name="description" content="Money transfer app using TransferWise API">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    <link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="app">

    <div class="container" ng-controller="CreateTransfer">
        <h1 class="title">Calculate and create a transfer</h1>

        <form class="transfer form" action="">

            <div class="transfer-details">
                <fieldset>
                    <label class="label label-small" for="youPay">You Pay</label>
                    <input class="input-text" type="text" id="youPay" ng-model="transferAmount" />
                    <select class="select" name="youPayCurrency" id="youPayCurrency" ng-model="currencyInputCode" ng-change="changeCurrency()">
                        <option ng-repeat="step in Currencies.list">{{step.currencyCode}}</option>
                    </select>
                </fieldset>

                <fieldset>
                    <label class="label label-small" for="youGet">You Get</label>
                    <input class="input-text" type="text" id="youGet" ng-model="transferPayout" readonly="readonly" />
                    <select class="select" name="youGetCurrency" id="youGetCurrency" ng-model="currencyOutputCode" ng-change="changeCurrency()">
                        <option ng-repeat="step in CurrenciesOutput.list">{{step.currencyCode}}</option>
                    </select>
                </fieldset>

                <div class="fixed-amount">
                    <input class="input-checkbox" type="checkbox" value="fixed" id="receiveFixedAmount">
                    <label class="label" for="receiveFixedAmount">
                        Receive fixed amount <span class="tooltip" data-tooltip-info="Lorem ipsum sit dolor ammet">?</span>
                    </label>
                </div>
            </div>

            <div class="transfer-priority">
                <fieldset>
                    <label class="label" for="priority">
                        Priority payment? <span class="tooltip" data-tooltip-info="Lorem ipsum sit dolor ammet">?</span>
                    </label>
                    <select class="select" name="priority" id="priority">
                        <option value="no">NO</option>
                        <option value="yes">YES</option>
                    </select>
                </fieldset>

                <p class="transfer-priority-info">Payment will be received no later than:</p>
                <p class="transfer-priority-date">Mon 25th March</p>
            </div>

            <div class="transfer-info">
                <ul class="list">
                    <li class="transfer-info-item list-item">
                        <span class="desc">
                            Deposit <span class="tooltip tooltip-dark tooltip-plus" data-tooltip-info="Lorem ipsum sit dolor ammet">+</span>
                        </span>
                        <span class="info">{{transferAmount | currency:currencyInputCode+" "}}</span>
                    </li>
                    <li class="transfer-info-item list-item">
                        <span class="desc">Estimated exchange rate <span class="tooltip tooltip-dark tooltip-plus" data-tooltip-info="Lorem ipsum sit dolor ammet">+</span></span>
                        <span class="info">{{transferRate}}</span>
                    </li>
                    <li class="transfer-info-item transfer-info-final list-item">
                        <span class="desc">You get (estimated)</span>
                        <span class="info">{{currencyOutputCode}} {{transferPayout}}</span>
                    </li>
                    <input class="input-submit" type="submit" value="Create a transfer" />
                </ul>
            </div>
            
        </form>

        <footer>
            <h2>After creating a transfer</h2>
            <p><strong>Make a bank transfer</strong> in your currency to the TransferWise bank account.</p>
            <p><strong>We make the conversion</strong> and pay the recipient in the required currency.</p>
        </footer>

        <div class="loading" ng-show="loading">
            <img src="images/loading.gif" alt="Loading">
        </div>
    </div>

    <script type="text/javascript" src="js/vendor/angular.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>