.form {
	font-size: 1em;
	margin: 0.5em 0;
}

fieldset {
	border: 0;
	margin: 0.8em 0;
	padding: 0;
}

.input-text {
	font-size: 0.8em;
	width: 34%;
	height: 2.15em;
	line-height: 2.15em;
	padding: 0 2%;
	border: 1px solid #b3b3b3;
	@include border-radius(3px);
	@include box-shadow(rgba(0,0,0,0.1) 0 0 1px 2px);
	&[readonly] {
		color: #aaa;
	}
}

.input-checkbox {
	position: relative;
	top: 2px;
	margin-right: 0.5em;
}

.input-submit {
	font-size: 1.25em;
	font-weight: bold;
	color: #fff;
	width: 100%;
	padding: 0.4em;
	margin: 0.8em 0;
	border: 0;
	@include border-radius(5px);
	background-color: #32a700; // Old browsers
	@include filter-gradient(#98d37f, #32a700, vertical); // IE6-9
	@include background-image(linear-gradient(#98d37f, #32a700));
	&:hover,
	&:active {
		background-color: #2f9602; // Old browsers
		@include filter-gradient(#a6e989, #2f9602, vertical); // IE6-9
		@include background-image(linear-gradient(#a6e989, #2f9602));
	}
}

.select {
	font-size: 0.8em;
	width: 27%;
	padding-left: 2%;
	margin-top: 1px;
	height: 2.3em;
	line-height: 2.3em;
	border: 1px solid #cecece;
	@include border-radius(3px);
	background-color: #e0e0e0; // Old browsers
	@include filter-gradient(#fcfcfc, #e0e0e0, vertical); // IE6-9
	@include background-image(linear-gradient(#fcfcfc, #e0e0e0));
}