.transfer-info {
	.list {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0.75em;
	}
	.desc,
	.info {
		display: block;
	}
	.desc {
		float: left;
		width: 75%;
	}
	.info {
		float: right;
		width: 25%;
		text-align: right;
		font-weight: bold;
		color: #222;
	}
}
.transfer-info-item {
	@extend %clearfix;
	margin: 1em 0;
}
.transfer-info-final {
	.desc,
	.info {
		width: 50%;
	}
	.desc {
		padding-top: 0.25em;
	}
	.info {
		font-size: 1.5em;
	}
}