.transfer-info {
	.list {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0.75em;
	}
	.list-item {
		display: table;
		width: 100%;
	}
	.desc,
	.info {
		display: table-cell;
	}
	.info {
		text-align: right;
		font-weight: bold;
		color: #222;
	}
}
.transfer-info-item {
	@extend %clearfix;
	margin: 1em 0;
}
.transfer-info-final {
	.desc {
		padding-top: 0.25em;
	}
	.info {
		font-size: 1.5em;
	}
}