.transfer-priority {
	.transfer-priority-info,
	.transfer-priority-date {
		font-size: 0.75em;
		margin: 0.5em 0;
	}
	.transfer-priority-date {
		font-weight: bold;
	}
	.label {
		display: inline-block;
		width: 71%;
	}
}