body {
	font: 16px Arial, Helvetica, Helvetica Neue;
	color: #333;
}

* {
	@include box-sizing(border-box);
}

.clearfix {
	@extend %clearfix;
}

.hidden {
	display: none;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

a {
	color: inherit;
}